html {
    font-size: 24px;
}

body {
    background-color:#0a192f ;
    color:aqua;
}

a {
    color:rgb(217, 225, 232);
}
a:visited {
    color:rgba(3, 172, 181, 0.66);
}
a:hover, a:active {
    color:rgb(51, 10, 186) ;
}
table, tr, th, td, caption{
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}